Traseira/build/**
.vscode/**
Traseira/build/can.lst
Traseira/build/can.o
Traseira/build/cmsis_os2.lst
Traseira/build/cmsis_os2.o
Traseira/build/croutine.lst
Traseira/build/croutine.o
Traseira/build/event_groups.lst
Traseira/build/event_groups.o
Traseira/build/freertos.d
Traseira/build/freertos.lst
Traseira/build/freertos.o
Traseira/build/gpio.lst
Traseira/build/gpio.o
Traseira/build/heap_4.lst
Traseira/build/heap_4.o
Traseira/build/list.lst
Traseira/build/list.o
Traseira/build/main.lst
Traseira/build/main.o
Traseira/build/port.lst
Traseira/build/port.o
Traseira/build/queue.lst
Traseira/build/queue.o
Traseira/build/startup_stm32f103xb.o
Traseira/build/stm32f1xx_hal_can.lst
Traseira/build/stm32f1xx_hal_can.o
Traseira/build/stm32f1xx_hal_cortex.lst
Traseira/build/stm32f1xx_hal_cortex.o
Traseira/build/stm32f1xx_hal_dma.lst
Traseira/build/stm32f1xx_hal_dma.o
Traseira/build/stm32f1xx_hal_exti.lst
Traseira/build/stm32f1xx_hal_exti.o
Traseira/build/stm32f1xx_hal_flash_ex.lst
Traseira/build/stm32f1xx_hal_flash_ex.o
Traseira/build/stm32f1xx_hal_flash.lst
Traseira/build/stm32f1xx_hal_flash.o
Traseira/build/stm32f1xx_hal_gpio_ex.lst
Traseira/build/stm32f1xx_hal_gpio_ex.o
Traseira/build/stm32f1xx_hal_gpio.lst
Traseira/build/stm32f1xx_hal_gpio.o
Traseira/build/stm32f1xx_hal_msp.lst
Traseira/build/stm32f1xx_hal_msp.o
Traseira/build/stm32f1xx_hal_pwr.lst
Traseira/build/stm32f1xx_hal_pwr.o
Traseira/build/stm32f1xx_hal_rcc_ex.lst
Traseira/build/stm32f1xx_hal_rcc_ex.o
Traseira/build/stm32f1xx_hal_rcc.lst
Traseira/build/stm32f1xx_hal_rcc.o
Traseira/build/stm32f1xx_hal_tim_ex.lst
Traseira/build/stm32f1xx_hal_tim_ex.o
Traseira/build/stm32f1xx_hal_tim.lst
Traseira/build/stm32f1xx_hal_tim.o
Traseira/build/stm32f1xx_hal_timebase_tim.lst
Traseira/build/stm32f1xx_hal_timebase_tim.o
Traseira/build/stm32f1xx_hal.lst
Traseira/build/stm32f1xx_hal.o
Traseira/build/stm32f1xx_it.lst
Traseira/build/stm32f1xx_it.o
Traseira/build/stream_buffer.lst
Traseira/build/stream_buffer.o
Traseira/build/syscalls.lst
Traseira/build/syscalls.o
Traseira/build/sysmem.lst
Traseira/build/sysmem.o
Traseira/build/system_stm32f1xx.lst
Traseira/build/system_stm32f1xx.o
Traseira/build/tasks.lst
Traseira/build/tasks.o
Traseira/build/timers.lst
Traseira/build/timers.o
Traseira/build/Traseira.bin
Traseira/build/Traseira.elf
Traseira/build/Traseira.hex
Traseira/build/Traseira.map
